@import './variables';

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: $barlow;
  font-size: $body;
  font-weight: 400;
  line-height: 26px;
  background-color: $lightCream;
}

h1 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 72px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 2rem;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.btn__primary {
  border: none;
  background-color: $darkCyan;
  width: 217px;
  height: 56px;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 18px;
  color: $lightCream;
  border-radius: 6px;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: $btnHover;
  }
}

.main {
  width: 100%;
  padding: 0 80px;
}
