@import './variables';

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  user-select: none;
}

img {
  width: 100%;
  user-select: none;
}

body {
  font-family: $barlow;
  font-size: $body;
  font-weight: 400;
  line-height: 26px;
  background-color: $lightCream;
  padding: 0 5em;
  scroll-behavior: smooth;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $barlow;
  font-size: $body;
  font-weight: 400;
  line-height: 26px;
  background-color: $lightCream;
  padding: 0 5em;
  scroll-behavior: smooth;

  @media screen and(max-width: 1200px) {
    padding: 0 40px;
  }

  @media screen and(max-width: 700px) {
    padding: 0 24px;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 72px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 2rem;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.btn__primary {
  width: 217px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $darkCyan;
  border-radius: 5px;

  :first-child {
    color: $lightCream;
    font-family: $fraunces;
    font-size: 18px;
  }

  &:hover {
    background: $btnHover;
  }
}

.btn__disable {
  background: $btnDisabled;
  cursor: alias;

  :first-child {
    cursor: alias;
  }

  &:hover {
    background: $btnDisabled;
  }
}

.logo {
  align-items: center;
  user-select: none;

  a {
    display: flex;
    color: $darkGray;
  }

  img {
    @media screen and(max-width: 390px) {
      width: 16px;
    }
  }

  .logo__text {
    font-size: 1.5625rem;
    font-family: $fraunces;
    margin-left: 0.2em;

    @media screen and(max-width: 390px) {
      font-size: 1.2rem;
    }
  }

  .text__footer {
    color: $lightCream;
  }
}

.append {
  width: 50%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(240, 240, 240);
  border-radius: 5px;
  margin-top: 20px;

  h1 {
    text-align: center;
    font-family: $fraunces;
    font-size: 1.5rem;
    color: $darkCyan;
  }
}
