@import './variables';
@import './global';

.footer {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $darkGray;
  padding: 2.9375em 5.3125em; //47px 85px
  margin-bottom: 5.5em; //88px

  @media screen and (max-width: 1023px) {
    flex-direction: column;
    padding: 3.4em 11.9em 3.4em 13.5em; //54px 190px 54px 215px
  }

  @media screen and (max-width: 1270px) and (min-width: 1024px) {
    padding: 2.9375em 2.5em;
  }

  @media screen and (max-width: 1023px) {
    padding: 2.5em 2em;
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 4em;
  }

  .logo__nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }

    .logo {
      margin-right: 4.08em;

      @media screen and (max-width: 1023px) {
        margin: 0 0 2em 0;
      }
    }

    .nav__footer {
      display: flex;

      @media screen and (max-width: 390px) {
        flex-direction: column;
        align-items: center;
      }

      a {
        font-family: $barlow;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 1;
        color: $gray;
        text-transform: uppercase;
        transition: color 200ms ease-in-out;

        &:not(:last-child) {
          margin-right: 2.75em; //33px
        }

        &:hover {
          color: $lightCream;
        }

        @media screen and (max-width: 390px) {
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 2em; //24px
          }
        }
      }
    }
  }

  .social_icons {
    @media screen and (max-width: 1023px) {
      margin-top: 4.1em; //65px
    }

    .icon {
      font-size: 1.5rem; //24px
      color: $lightCream;
      transition: color 200ms ease-in-out;

      &:not(:last-child) {
        margin-right: 1.5em;
      }

      &:hover {
        color: $paleOrange;
      }
    }
  }
}
