@import '../reusables/variables';
@import '../reusables/global';

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $darkGray;
  padding: 2.9375em 5.3125em;
  margin-bottom: 5.5em;

  @media screen and(max-width: 1270px) and (min-width: 1024px) {
    padding: 2.9375em 2.5em;
  }

  .logo__nav {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 4.08em;
    }

    .nf a {
      margin-top: 4px;

      &:hover {
        color: $lightCream;
      }
    }
  }

  .social_icons {
    .icon {
      font-size: 24px;
      color: $lightCream;
      transition: color 200ms ease-in-out;

      &:not(:last-child) {
        margin-right: 1.5em;
      }

      &:hover {
        color: $paleOrange;
      }
    }
  }
}
