@import '../reusables/variables';
@import '../reusables/global';

.header {
  width: 100%;
  height: 113px;
  padding: 0 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
