@import '../reusables/variables';

.hero__sec {
  width: 100%;
  height: 100vh;
  position: relative;

  .hero__bg {
    width: 100%;
    z-index: 0;

    img {
      width: 100%;
      border-radius: 6px;
    }
  }

  .hero__copy {
    position: absolute;
    top: 117px;
    margin-left: 85px;

    h1 {
      font-size: 4.5rem;
      color: $lightCream;
      margin-bottom: 32px;
    }

    p {
      line-height: 1.625rem;
      color: $lightCream;
      margin-bottom: 56px;
    }
  }
}
