@import '../sass/variables';

.about__hero {
  width: 100%;
  background-image: url(../assets/about/desktop/image-hero-whitecup.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 137px 85px;
  margin-bottom: 168px;

  @media screen and(max-width: 1024px) {
    background-image: url(../assets/about/tablet/image-hero-whitecup.jpg);

    padding: 118px 58px;
  }

  @media screen and(max-width: 700px) {
    background-image: url(../assets/about/mobile/image-hero-whitecup.jpg);

    padding: 111px 24px 87px 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and(max-width: 935px) {
    margin-bottom: 144px;
  }

  @media screen and(max-width: 700px) {
    margin-bottom: 120px;
  }

  .about__hero__copy {
    max-width: 445px;

    @media screen and(max-width: 1024px) {
      max-width: 398px;
    }

    @media screen and(max-width: 700px) {
      max-width: 279px;
      text-align: center;
    }

    h2 {
      font-size: 40px;
      line-height: 48px;
      color: $lightCream;
      margin-bottom: 24px;

      @media screen and(max-width: 1024px) {
        font-size: 32px;
        line-height: 40px;
      }

      @media screen and(max-width: 700px) {
        font-size: 28px;
        line-height: 28px;
      }
    }

    p {
      color: $lightCream;

      @media screen and(max-width: 1024px) {
        font-size: 15px;
        line-height: 25px;
        opacity: 0.8;
      }
    }
  }
}

.about__commitment {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 168px;

  @media screen and(max-width: 935px) {
    margin-bottom: 144px;
  }

  @media screen and(max-width: 700px) {
    margin-bottom: 120px;
  }

  .commitment__wrapper {
    display: flex;
    max-width: 1110px;
    align-items: center;

    @media screen and(max-width: 700px) {
      flex-direction: column;
    }

    @media screen and(max-width: 700px) {
      max-width: none;
      width: 100%;
    }

    .commitment__image {
      max-width: 445px;

      @media screen and(max-width: 935px) {
        max-width: 281px;
      }

      @media screen and(max-width: 700px) {
        max-width: none;
        margin-bottom: 48px;
      }

      img {
        border-radius: 8px;
      }
    }

    .commitment__copy {
      max-width: 539px;
      margin-left: 125px;

      @media screen and(max-width: 1200px) {
        margin-left: 70px;
        max-width: 340px;
      }

      @media screen and(max-width: 700px) {
        max-width: none;
        margin: 0;
        text-align: center;
      }

      h2 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 32px;

        @media screen and(max-width: 1200px) {
          font-size: 32px;
          line-height: 48px;
          margin-bottom: 30px;
        }
      }

      p {
        opacity: 0.8;

        @media screen and(max-width: 1200px) {
          font-size: 15px;
          line-height: 25px;
        }
      }
    }
  }
}
