@import '../global/global';
@import '../global/variables';

.about__commitment {
  width: 100%;
  max-width: 1110px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  margin-bottom: 256px; //168px + 88px from the quality image(-88px)

  @media screen and (max-width: 1200px) {
    margin-bottom: 0; // Resetting the margin from the quality section
  }

  @media screen and (max-width: 700px) {
    margin-bottom: 198px; // 78px Resetting the margin from the quality section (the value came from quality image negative margin) + 120px of white space.
    flex-direction: column;
    max-width: none;
    width: 100%;
  }

  .commitment__image {
    width: 445px;
    max-width: 445px;
    height: 520px;
    max-height: 520px;
    border-radius: 10px;
    background-image: url(../assets/about/desktop/image-commitment.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 935px) {
      width: 281px;
      max-width: 281px;
      height: 470px;
      max-height: 470px;
      background-image: url(../assets/about/tablet/image-commitment.jpg);
    }

    @media screen and (max-width: 700px) {
      width: 327px;
      max-width: 327px;
      height: 400px;
      max-height: 400px;
      margin-bottom: 48px;
      background-image: url(../assets/about/mobile/image-commitment.jpg);
    }
  }

  .commitment__copy {
    max-width: 539px;
    margin-left: 125px;

    @media screen and (max-width: 1200px) {
      margin-left: 70px;
      max-width: 340px;
    }

    @media screen and (max-width: 700px) {
      max-width: none;
      margin: 0;
      text-align: center;
    }

    h2 {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 32px;

      @media screen and (max-width: 1200px) {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 30px;
      }
    }

    p {
      opacity: 0.8;

      @media screen and (max-width: 1200px) {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}
