*,
html {
  margin: 0;
  padding: 0;
}

@import './sass/variables';

.coming {
  width: 100%;
  height: 100vh;
  background-color: $darkCyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3em;
    font-family: $fraunces;
    text-transform: uppercase;
    color: $lightCream;
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;
    background-color: $darkGray;
    font-family: 'Fraunces', serif;
    font-size: 1.125rem;
    color: $lightCream;
    padding: 0.9375em 1.9375em 1em 1.9375em;
    border-radius: 6px;
    user-select: none;
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: $btnHover;
    }
  }
}
