@import '../global/global';
@import '../global/variables';

.why__sec {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $darkGray;
  padding: 6.25em 5.3em 0em 5.3em;
  border-radius: 8px;
  margin-bottom: 22em; //351px

  @media screen and(max-width: 1270px) and (min-width: 1024px) {
    padding: 6.25em 2.5em 0em 2.5em;
  }

  @media screen and(max-width: 1023px) {
    padding: 3.5em 3.6em 0 3.6em; //56px 57px 0 57px
  }

  @media screen and(max-width: 700px) {
    margin-bottom: 20em; //320px
  }

  @media screen and(max-width: 590px) {
    padding: 4.6em 1.5em 0 1.5em; //74px 24px 0 24px
    margin-bottom: 36.9em; //590px
  }

  .why__copy {
    text-align: center;
    max-width: 540px;

    @media screen and(max-width: 1023px) {
      padding: 0 1.2em;
    }

    @media screen and(max-width: 590px) {
      padding: 0;
    }

    h2 {
      color: $lightCream;
      margin-bottom: 0.8em;

      @media screen and(max-width: 590px) {
        font-size: 1.75rem; //28px
      }

      @media screen and(max-width: 370px) {
        font-size: 1.6rem; //25px
      }
    }

    p {
      color: $lightCream;
      margin-bottom: 5.3125em;
      opacity: 0.8;

      @media screen and(max-width: 1023px) {
        margin-bottom: 4.4em; //70px
      }
    }
  }

  .why__cards {
    width: 100%;
    display: flex;
    margin-bottom: -9.375em;

    @media screen and(max-width: 1023px) {
      flex-direction: column;
      margin-bottom: -20em; //-320px
    }

    @media screen and(max-width: 768px) {
      margin-bottom: -22.5em; //-360px
    }

    @media screen and(max-width: 700px) {
      margin-bottom: -21.9em; //-350px
    }

    @media screen and(max-width: 590px) {
      margin-bottom: -37.5em; //-600px
    }

    .why__card {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: $darkCyan;
      padding: 4.5em 3em 3em 3em;
      border-radius: 8px;

      @media screen and(max-width: 1270px) and (min-width: 1024px) {
        padding: 4em 2em 3em 2em;
      }

      @media screen and(max-width: 1023px) {
        flex-direction: row;
        align-items: center;
        padding: 2.6em 3em 2.6em 4.4em; //41px 48px 41px 70px
        margin: 0 0 1.5em 0; //0 0 24px 0
      }

      @media screen and(max-width: 590px) {
        flex-direction: column;
        padding: 4.5em 2em 3.2em 2em; //72px 33px 51px 33px
      }

      &:not(:last-child) {
        margin-right: 1em;
      }

      .card__image {
        min-height: 72px;
        margin-bottom: 3.5em;
        text-align: center;

        @media screen and(max-width: 1023px) {
          margin: 0;
        }

        @media screen and(max-width: 590px) {
          margin-bottom: 3.5em; //56px
        }

        img {
          width: 72px;
        }
      }

      .card__copy {
        width: 100%;
        text-align: center;

        @media screen and(max-width: 1023px) {
          text-align: start;
          margin-left: 3.43em; //55px
        }

        @media screen and(max-width: 590px) {
          text-align: center;
          margin: 0;
        }

        h3 {
          font-size: 24px;
          line-height: 32px;
          color: $lightCream;
          margin-bottom: 1em;
        }

        p {
          color: $lightCream;
        }
      }
    }
  }
}
