@import './global';
@import './variables';

.collection__sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5.3em; //85px
  margin-bottom: 12.5em; //200px

  @media screen and(max-width: 1440px) and (min-width: 1024px) {
    padding: 0 2em;
  }

  @media screen and(max-width: 1023px) {
    padding: 0;
    margin-bottom: 9em; //144px
  }

  @media screen and(max-width: 700px) {
    margin-bottom: 4.4em; //70px
  }

  .collection__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em 0;
    position: relative;
    margin-bottom: -2.8em;

    @media screen and(max-width: 1023px) {
      margin-bottom: -3.1em;
    }

    @media screen and(max-width: 700px) {
      margin-bottom: 0.7em; //11px
    }

    &::after {
      content: '';
      position: absolute;
      top: 0em;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(254, 252, 247, 1),
        rgba(254, 252, 247, 0.014740930551908282)
      );
    }

    h2 {
      font-size: 9.9rem; //158px
      opacity: 0.2;
      text-transform: lowercase;

      @media screen and(max-width: 1350px) {
        font-size: 9rem;
      }

      @media screen and(max-width: 1270px) {
        font-size: 7rem;
      }

      @media screen and(max-width: 1023px) {
        font-size: 6rem;
      }

      @media screen and(max-width: 767px) {
        font-size: 3.9rem;
        opacity: 0.4;
      }

      @media screen and(max-width: 500px) {
        font-size: 3rem;
      }

      @media screen and(max-width: 390px) {
        font-size: 2.5rem;
      }

      @media screen and(max-width: 370px) {
        font-size: 2.2rem;
      }
    }
  }

  .collection__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 1em;
    z-index: 1;

    @media screen and(max-width: 1023px) {
      flex-direction: column;
    }

    @media screen and(max-width: 1023px) {
      padding: 0 3.6em; //57px
    }

    @media screen and(max-width: 540px) {
      padding: 0 1em;
    }

    .collection__card {
      width: 100%;

      @media screen and(max-width: 1023px) {
        display: flex;
        margin-bottom: 2em; //32px
      }

      @media screen and(max-width: 700px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 4.4em; //70px
      }

      .card__image {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
          max-width: 255px;

          @media screen and(max-width: 1270px) and (min-width: 1024px) {
            max-width: 200px;
          }
        }
      }

      .card__copy {
        width: 100%;
        text-align: center;
        margin-top: 4.4375em; //px

        @media screen and(max-width: 1023px) {
          text-align: start;
          margin: 0.8em 0 0 0;
        }

        @media screen and(max-width: 700px) {
          text-align: center;
        }

        h3 {
          font-size: 1.5rem;
          margin-bottom: 1em;
        }

        p {
          padding: 0 1.5em;

          @media screen and(max-width: 1023px) {
            padding: 0;
          }
        }
      }
    }
  }
}
