@import './global';
@import './variables';

.how__sec {
  width: auto;
  margin-left: 80px;
  margin-bottom: 200px;

  @media screen and(max-width: 1270px) and (min-width: 1024px) {
    margin-left: 0px;
    padding-left: 2.5em;
  }

  @media screen and(max-width: 1023px) {
    margin: 100px 0 140px 0;
  }

  .how__title {
    width: 100%;

    @media screen and(max-width: 767px) {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h4 {
      color: $gray;
      margin-bottom: 80px;
    }
  }

  .how__cards {
    width: 100%;
    display: flex;
    margin-bottom: 4em;

    @media screen and(max-width: 767px) {
      flex-direction: column;
    }

    .how__card {
      max-width: 285px;
      min-width: 200px;
      position: relative;

      &:not(:last-child) {
        margin-right: 5.9375em;
      }

      @media screen and(max-width: 1023px) {
        max-width: 223px;

        &:not(:last-child) {
          margin-right: 2em;
        }
      }

      @media screen and(max-width: 767px) {
        text-align: center;
        max-width: none;
        min-width: none;

        &:not(:last-child) {
          margin: 0 0 56px 0;
        }
      }

      .progress__bar {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 67px;

        @media screen and(max-width: 767px) {
          display: none;
        }

        span {
          font-size: 31px;
          color: $darkCyan;
          background-color: $lightCream;

          &:not(:last-child) {
            margin-right: 350px;
          }

          &:not(:last-child)::before {
            content: '';
            position: absolute;
            background-color: $paleOrange;
            width: 349px;
            height: 2px;
            left: 29.9px;
            top: 13.5px;

            @media screen and(max-width: 1270px) and (min-width: 1024px) {
              width: 340px;
            }

            @media screen and(max-width: 1023px) {
              width: 230px;
            }
          }
        }
      }

      .numbers {
        width: 100%;
        margin-bottom: 2.375em;

        .number {
          font-family: $fraunces;
          font-size: 4.5rem;
          line-height: 4.5rem;
          color: $paleOrange;
        }
      }

      .card__copy {
        width: 100%;

        .card__title {
          margin-bottom: 1.3125em;
        }

        p {
          @media screen and(max-width: 1023px) {
            padding-right: 0;
          }
        }
      }
    }
  }

  .how__btn {
    @media screen and(max-width: 767px) {
      display: flex;
      justify-content: center;
    }
  }
}
