@import './variables';
@import './global';

.why__sec {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $darkGray;
  padding: 6.25em 5.3125em 0em 5.3125em;
  border-radius: 8px;
  margin-bottom: 351px;

  @media screen and(max-width: 1270px) and (min-width: 1024px) {
    padding: 6.25em 2.5em 0em 2.5em;
  }

  @media screen and(max-width: 1023px) {
    padding: 56px 57px 0 57px;
  }

  .why__copy {
    text-align: center;
    padding: 0 8em;

    @media screen and(max-width: 1270px) and (min-width: 1024px) {
      padding: 0 8em;
    }

    @media screen and(max-width: 1023px) {
      padding: 0 1.2em;
    }

    h2 {
      color: $lightCream;
      margin-bottom: 0.8em;
    }

    p {
      color: $lightCream;
      margin-bottom: 5.3125em;

      @media screen and(max-width: 1023px) {
        margin-bottom: 70px;
      }
    }
  }

  .why__cards {
    width: 100%;
    display: flex;
    margin-bottom: -9.375em;

    @media screen and(max-width: 1023px) {
      flex-direction: column;
      margin-bottom: -320px;
    }

    .why__card {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: $darkCyan;
      padding: 4.5em 3em 3em 3em;
      border-radius: 8px;

      @media screen and(max-width: 1270px) and (min-width: 1024px) {
        padding: 4em 2em 3em 2em;
      }

      @media screen and(max-width: 1023px) {
        flex-direction: row;
        align-items: center;
        padding: 41px 48px 41px 70px;
        margin: 0 0 24px 0;
      }

      &:not(:last-child) {
        margin-right: 1em;
      }

      .card__image {
        min-height: 72px;
        margin-bottom: 3.5em;
        text-align: center;

        @media screen and(max-width: 1023px) {
          margin: 0;
        }

        img {
          width: 72px;
        }
      }

      .card__copy {
        width: 100%;
        text-align: center;

        @media screen and(max-width: 1023px) {
          text-align: start;
          margin-left: 55px;
        }

        h4 {
          color: $lightCream;
          margin-bottom: 1em;
        }

        p {
          color: $lightCream;
        }
      }
    }
  }
}
